@media (max-width: 1000px) {
  .lesson {
      flex-wrap: wrap;
  }

  .lesson .item {
      width: 50%;
  }

  .main h1 {
      font-size: 35px;
  }

  .top-wrapper {
    text-align: left;
  }

}

@media (max-width: 670px) {
    .lesson {
        flex-direction: column;
    }

    .lesson .item {
        width: 100%;
    }

    .header-right {
        display: none;
    }

    .menu-icon {
        display: block;
    }

}
